<body class="text-center">
  <form method="post" action="/login" class="form-signin">
    <img class="mb-4" src="../../images/xelect-logo-white.svg" alt="" >
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    {{#if loginMessage}}
      <div class="alert alert-danger">{{loginMessage}}</div>
    {{/if}}
    <p class="mt-5 mb-3 text-muted">&copy; 2018 Xelect Ltd, All Rights Reserved</p>
  </form>
</body>
